Let's go

In [4]:
student = {
    "name": "Sara",
    "age": 18,
    "grade": 19.5
}
print (student["name"])
student ["grade"] = 20
print (student["grade"])
student ["passed"] = "True"
print (student)

Sara
20
{'name': 'Sara', 'age': 18, 'grade': 20, 'passed': 'True'}

In [9]:
print (student.keys ())
print (student.values ())
print (student.items ())

dict_keys(['name', 'age', 'grade', 'passed'])
dict_values(['Sara', 18, 20, 'True'])
dict_items([('name', 'Sara'), ('age', 18), ('grade', 20), ('passed', 'True')])

In [13]:
info = {
    "username": "amirrera",
    "email": "amir@example.com",
    "active": True
}
print (info)
del info ["email"]
print (info)
print ("age" in info, "email" in info, "username" in info)

{'username': 'amirrera', 'email': 'amir@example.com', 'active': True}
{'username': 'amirrera', 'active': True}
False False True

In [19]:
people = [
    {"name": "Ali", "age": 30},
    {"name": "Zahra", "age": 25},
    {"name": "Reza", "age": 40}
]
len (people)
print (people[0]['age'])
print (people[-1]['name'])

30
Reza

In [25]:
users = [
    {"username": "amirrera", "age": 21, "city": "Tehran"},
    {"username": "sara_90", "age": 25, "city": "Shiraz"},
    {"username": "ali_dev", "age": 19, "city": "Tabriz"}
]
print (users[0]["username"])
print (users[2]["age"])
print (users[1]["city"])
print (len (users))
users.append({"username": "niloofar88", "age": 30, "city": "Mashhad"})
print (users)

amirrera
19
Shiraz
3
[{'username': 'amirrera', 'age': 21, 'city': 'Tehran'}, {'username': 'sara_90', 'age': 25, 'city': 'Shiraz'}, {'username': 'ali_dev', 'age': 19, 'city': 'Tabriz'}, {'username': 'niloofar88', 'age': 30, 'city': 'Mashhad'}]